<template>
    <div class="application">
        <div class="uk-grid uk-grid-medium " uk-sortable="handle: .uk-sortable-handle" data-uk-grid>
            <!-- panel -->
            <div class="uk-width-1-1 uk-width-1-2@l uk-width-1-2@xl">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-drag">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-small" >
                            <div class="uk-width-auto"><h4>Вебкамера <span class="uk-label" :class="{'uk-label-success': statusActive, 'uk-label-danger':!statusActive}">&nbsp;</span></h4></div>
                            <div class="uk-width-expand uk-text-right panel-icons">
                                <a href="#" class="uk-icon-link uk-sortable-handle" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
                                <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
                                <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-placeholder">
                            <video autoplay id="webcam" width="500" height="500"></video>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /panel -->
            <!-- panel -->
            <div class="uk-width-1-2@s uk-width-1-2@l uk-width-1-4@xl">
                <div class="uk-card uk-card-default uk-card-small uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-auto"><h4>Сотрудник</h4></div>
                            <div class="uk-width-expand uk-text-right panel-icons">
                                <a href="#" class="uk-icon-link uk-sortable-handle" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
                                <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>
                                <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">

                        <div class="uk-placeholder" v-if="showUser">
                            <div class="uk-text-lead">{{ showUser.name }}</div>
                            <div class="uk-text-meta">{{ showUser.link }}</div>
                        </div>
                        <div class="uk-placeholder">
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Работает</div>
                                <div>{{ timeInWork }}</div>
                            </div>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-expand" uk-leader>Отсутствует</div>
                                <div>{{ timeOutWork }}</div>
                            </div>
                        </div>
                        <div class="uk-placeholder"></div>
                        <div class="uk-placeholder"></div>
                    </div>
                </div>
            </div>
            <!-- /panel -->
            <!-- panel -->
<!--            <div class="uk-width-1-1@l">-->
<!--                <div class="uk-card uk-card-default uk-card-small uk-card-hover">-->
<!--                    <div class="uk-card-header">-->
<!--                        <div class="uk-grid uk-grid-small">-->
<!--                            <div class="uk-width-auto"><h4>Состояние</h4></div>-->
<!--                            <div class="uk-width-expand uk-text-right panel-icons">-->
<!--                                <a href="#" class="uk-icon-link uk-sortable-handle" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>-->
<!--                                <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a>-->
<!--                                <a href="#" class="uk-icon-link" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="uk-card-body">-->
<!--                        <div class="uk-column-1-2">-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                            <div class="uk-placeholder"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- /panel -->
        </div>


        <main>
            <div id="test-user"></div>

            <div class="uk-card uk-card-default uk-card-body uk-margin">
                <button class="uk-button uk-button-default" type="button" uk-toggle="target: #toggle-usage">Обучение</button>

                <div id="toggle-usage" class="uk-margin" aria-hidden="true" hidden>
                    <h4>Сотрудники</h4>
                    <div class="uk-button-group">
                        <button class="uk-button uk-button-secondary" @click="setLabelPeople('k')">Костя</button>
                        <button class="uk-button uk-button-secondary" @click="setLabelPeople('p')">Паша</button>
                        <button class="uk-button uk-button-secondary" @click="setLabelPeople('y')">Яна</button>
                        <button class="uk-button uk-button-secondary" @click="setLabelPeople('g')">Гоша</button>
                    </div>

                    <h4>Положения</h4>
                    <div class="uk-button-group">
                        <button class="uk-button uk-button-secondary" @click="setLabelPosition('d')">Скривился</button>
                        <button class="uk-button uk-button-secondary" @click="setLabelPosition('u')">Ровно</button>
                        <button class="uk-button uk-button-secondary" @click="setLabelPosition('s')">Лежа</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import $ from 'jquery';
    import * as tf from '@tensorflow/tfjs';
    import * as mobilenet from '@tensorflow-models/mobilenet';
    import * as knnClassifier from '@tensorflow-models/knn-classifier';
    import * as bodyPix from '@tensorflow-models/body-pix';
    import * as cocoSsd from '@tensorflow-models/coco-ssd';
    import moment from 'moment';
    import axios from 'axios';
    import each from 'lodash/each';
    import Noty from 'noty';

    const IMAGE_SIZE = 500;

    export default {
        name: "Client",
        data() {
            return {
                net: null,
                knnCommands: null, // классификатор комманды
                knnPositions: null, // классификатор положения
                timeIn: 0,
                timeOut: 0,
                lastMoment: null,
                mobilenet: null,
                dataset: {},
                load: false,
                people: {
                    k: 'Костя',
                    p: 'Паша',
                    y: 'Яна',
                    g: 'Гоша'
                },
                currentUserId: null,
                defaultUser: '1',
                exist: {
                    active: 0,
                    user: null
                },
                timeouts: {
                    user: null
                },
                userList: {
                    k: 'eadc60a42de331636d2045dc8ed26886',
                    p: '6',
                    y: '4',
                    g: '3'
                },
            }
        },
        mounted() {
            this.video = document.getElementById("webcam");
            this.loadClassifierAndModel();
            this.initiateWebcam();
            this.getUser();

        },
        computed: {
            timeInWork() {
                return this.timeIn;
            },
            timeOutWork() {
                return this.timeOut;
            },
            currentUser() {
                return this.currentUserId ? this.currentUserId : this.defaultUser;
            },
            statusActive() {
                return this.exist.active;
            },
            showUser() {
                return this.exist.user;
            }
        },
        methods: {
            async loadClassifierAndModel() {
                this.knnCommands = knnClassifier.create();
                this.knnPositions = knnClassifier.create();
                this.net = await cocoSsd.load();
                this.mobilenet = await mobilenet.load();

                console.log("model loaded");

                this.start();
            },

            initiateWebcam() {
                // Setup webcam
                navigator.mediaDevices
                    .getUserMedia({ video: true, audio: false })
                    .then(stream => {
                        this.video.srcObject = stream;
                        this.video.width = IMAGE_SIZE;
                        this.video.height = IMAGE_SIZE;
                    });
            },

            start() {
                if (this.timer) {
                    this.stop();
                }

                //this.timer = requestAnimationFrame(this.animate.bind(this));
                this.timer = setInterval(() => {
                    this.animate()
                }, 700);
            },

            stop() {
                //cancelAnimationFrame(this.timer);
                clearInterval(this.timer)
            },

            async animate() {
                const image = tf.browser.fromPixels(this.video);
                const partSegmentation = await this.net.detect(this.video, 1);

                let ts = moment().unix();

                if (!this.lastMoment) {
                    this.lastMoment = moment().unix();
                }

                if (partSegmentation[0] && partSegmentation[0].class === 'person') {
                    this.timeIn += ts - this.lastMoment;
                    this.lastMoment = ts;
                    this.exist.active = 1;

                    clearTimeout(this.timeouts.user);
                    this.timeouts.user = setTimeout(() => {
                        this.exist.active = 1;
                    }, 300);

                } else {
                    this.trackerStatus = false;

                    this.timeOut += ts - this.lastMoment;
                    this.lastMoment = ts;

                    clearTimeout(this.timeouts.user);
                    this.timeouts.user = setTimeout(() => {
                        this.exist.active = 0;
                        this.exist.user = null;
                        this.currentUserId = null;
                    }, 300);
                }

                // сотрудник
                const countListPeople = this.knnCommands.getClassExampleCount();

                if (this.exist.active === 1 && Object.keys(countListPeople).length > 0) {
                    const xlogits = this.mobilenet.infer(image, 'conv_preds');
                    const result = await this.knnCommands.predictClass(xlogits, 10);

                    if (this.people.hasOwnProperty(result.label) && result.confidences[result.label] >= 0.5) {
                        this.currentUserId = this.userList[result.label];
                    } else {
                        this.currentUserId = this.defaultUser;
                    }
                }

                image.dispose();

                //this.timer = requestAnimationFrame(this.animate.bind(this));

                // проверяем наличие сообщений у пользователя
                this.getUserMessage();
            },

            setLabelPeople(label) {
                const image = tf.browser.fromPixels(this.video);
                const logits = this.mobilenet.infer(image, 'conv_preds');

                this.knnCommands.addExample(logits, label);
            },

            setLabelPosition(label) {
                const image = tf.browser.fromPixels(this.video);
                const logits = this.mobilenet.infer(image, 'conv_preds');

                this.knnPositions.addExample(logits, label);
            },

            sendEvent(eventType, value) {
                const api = 'https://beta.baazaa.ru/pltfm/apimedbox.php?bzApiKey=1c19ed73454f1c2e892ee124a04ef119&bzApiType=medbox&';

                axios.get(
                    api + this.buildQuery({userid: this.currentUser, type: eventType, value: value, stamp: moment().unix()})
                )

            },

            buildQuery(data) {
                if (typeof (data) === 'string') return data;
                var query = [];

                for (var key in data) {
                    if (data.hasOwnProperty(key)) {
                        query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
                    }
                }

                return query.join('&');

            },

            async getUser() {
                const api = 'https://beta.baazaa.ru/pltfm/apimedbox.php?bzApiKey=1c19ed73454f1c2e892ee124a04ef119&bzApiType=medbox&';

                await axios.get(
                    api + this.buildQuery({userid: this.currentUser, action: 'user'})
                ).then(response => response.data)
                    .then(user => {
                        this.exist.user = user.data && user.data[0] ? user.data[0] : null;
                    })
            },
            sendMessage(message) {
                new Noty({
                    type: 'info',
                    layout: 'bottomRight',
                    text: message
                }).show();
            },
            getUserMessage() {
                // if (!this.exist.user || this.exist.user.userid === this.defaultUser) {
                //     return;
                // }

                const api = 'https://beta.baazaa.ru/pltfm/apimedbox.php?bzApiKey=1c19ed73454f1c2e892ee124a04ef119&bzApiType=medbox&';

                axios.get(
                    api + this.buildQuery({userid: this.currentUser, action: 'message'})
                )
                    .then(response => response.data)
                    .then(messages => {
                        if (messages.data.length > 0) {
                            each(messages.data, (item) => {
                                this.sendMessage(item.message);
                            })
                        }
                    })
            }
        },
        watch: {
            statusActive() {
                this.sendEvent('active', this.statusActive);
            },
            currentUserId() {
                if (this.currentUserId && (!this.exist.user || this.currentUser !== this.exist.user.userid)) {
                    // обновим информацию о пользователе
                    this.getUser().then(() => {
                        this.currentUserId = this.exist.user.userid;
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>